# Compiled Object files
*.o
*.obj

# Other outputs from LLVM
*.ll
*.spv
*.spt
*.ptx
*.bc

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.a
*.lib

# Executables
*.exe

# Code coverage
*.lst

# DUB
.dub
docs.json
__dummy.html

.DS_Store
